body{
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 0, 0);

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas{
  border-radius: 10px;
  border: 1px solid #000000;
}
.text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  z-index: 10;
  color: #fff;
  top: 10%;
}
a{
  color: #dcdbdb;
}
.text2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  z-index: 10;
  color: #fff;
  bottom: 10%;
}